[[source]]
url = "https://pypi.python.org/simple"
name = "seniordesign_python"

[requires]

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
pillow = "*"
protobuf = "*"
opencv-python = "*"
tensorflow = "*"
