[[source]]
url = "https://pypi.python.org/simple"
name = "seniordesign"

[requires]
python_version = "3.6"

[packages]
libsmdev-python = "*"
dammit = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pillow = "*"
protobuf = "*"
opencv-python = "*"
tensorflow = "*"
